<div #titleAndLogo class="titleAndLogo"><h1>The Click Pot</h1></div>
<p-menubar [model]="appStore.authorizedMenuItems()">
  <!-- #region Mini Logo-->
  <ng-template #start>
    <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="..." fill="var(--primary-color)" />
    </svg>
  </ng-template>
  <!-- #endregion -->

  <!-- #region Main Menu Items -->
  <ng-template #item let-item let-root="root">
    <ng-container *ngIf="item.routerLink">
      <a [routerLink]="item.routerLink" class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>
  </ng-template>
  <!-- #endregion -->

  <!-- #region Login/Logout and User Profile -->
  <ng-template #end>
    <div class="flex items-center gap-4">
      @if (!isAuthenticated()) {
        <a [routerLink]="loginMenuItem.routerLink" class="p-menubar-item-link flex items-center gap-2">
          <span [class]="loginMenuItem.icon"></span>
          <span class="ml-2">{{ loginMenuItem.label }}</span>
        </a>
      } @else {
        <a [routerLink]="logoutMenuItem.routerLink" class="p-menubar-item-link flex items-center gap-2">
          <span [class]="logoutMenuItem.icon"></span>
          <span class="ml-2">{{ logoutMenuItem.label }}</span>
        </a>
      }
    </div>
  </ng-template>
  <!-- #endregion -->
</p-menubar>
