.login-card-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: auto;
  max-width: 100%;
  height: auto;
}

.input-group {
  margin-top: 5%;
  margin-bottom: 5%;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px 10px;
}
