<div class="content-wrapper">
  <section class="card">
    <header>
      <img alt="Pot Logo" class="login-card-logo" src="images/pot_test_logo.png" />
    </header>
    <ng-container *ngIf="!isAuthenticated(); else logoutPanel">
    <h2>Login</h2>
    <h3>Don't have an account? Create one today!</h3>
    <form #loginForm="ngForm" name="loginForm" (ngSubmit)="login()" aria-label="Login Form">
      <div class="input-group">
        <p-floatLabel>
          <input id="email" name="email" type="text" pInputText [(ngModel)]="email" required />
          <label for="email">Email</label>
        </p-floatLabel>

        <p-floatLabel>
          <input id="password" name="password" type="password" pInputText [(ngModel)]="password" required />
          <label for="password">Password</label>
        </p-floatLabel>
      </div>

      <div *ngIf="errorMessage" class="error-message" role="alert">
        {{ errorMessage }}
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-secondary" (click)="cancel(loginForm)">Cancel</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    </ng-container>
    <ng-template #logoutPanel>
      <div class="logout-confirmation">
        <p>Are you sure you want to log out?</p>
        <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
    </ng-template>
  </section>
</div>

<!-- #region TESTING -->
<!-- <div style="margin-top: 50px">
  <p>// TEST //</p>
  <pre>Login form values: <br />{{ loginForm.value | json }}</pre>
  <pre>Login form errors: <br />{{ loginForm.errors | json }}</pre>
  <p-button (click)="checkAuth()">Check Auth</p-button>
  <pre>Login status: <br />{{ getAuthStatus() }}</pre>

  <p><p-button (click)="checkAdminRights()">Check Admin Rights</p-button></p>
  <pre>Current user roles: <br />{{ _appStore.roles() }}</pre>
  <p>// END TEST //</p>
</div> -->
<!-- #endregion -->
