<p>pot-auth works!</p>
<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
  <ng-template #header>
    <img alt="Card" class="login-card-logo" src="images/pot_test_logo.png" />
  </ng-template>
  <ng-template #title> Login </ng-template>
  <ng-template #subtitle> Don't have an account? Create today! </ng-template>
  <form #loginForm="ngForm" name="loginForm" (ngSubmit)="login()">
    <div class="input-group">
      <p-iftalabel>
        <input class="form-control" id="email" name="email" pInputText [(ngModel)]="email" required />
        <label for="email">Email</label>
      </p-iftalabel>
      <p-iftalabel variant="over">
        <input class="form-control" id="password" name="password" pInputText [(ngModel)]="password" required />
        <label for="password">Password</label>
      </p-iftalabel>
    </div>

    <!-- Display Error Message -->
    @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }

    <div class="flex gap-4 mt-1">
      <p-button label="Cancel" type="button" severity="secondary" [outlined]="true" (click)="cancel(loginForm)" />
      <p-button label="Save" type="submit" />
      <p-button (click)="logout()">Logout</p-button>
    </div>
  </form>
</p-card>

<!-- DELETE AFTER TESTING -->
<div style="margin-top: 50px">
  <p>// TEST //</p>
  <pre>Login form values: <br />{{ loginForm.value | json }}</pre>
  <pre>Login form errors: <br />{{ loginForm.errors | json }}</pre>
  <p-button (click)="checkAuth()">Check Auth</p-button>
  <pre>Login status: <br />{{ getAuthStatus() }}</pre>

  <p><p-button (click)="checkAdminRights()">Check Admin Rights</p-button></p>
  <pre>Current user roles: <br />{{ _appStore.roles() }}</pre>
  <p>// END TEST //</p>
</div>
