.main-container {
  display: flex;
  padding: 8vh 2vh;
  height: 70vh;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.left-box {
  flex: 1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 20px;

  .icon-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .icon {
      margin-right: 10px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 10px;
    height: 80%;
    background-color: #ff0000;
  }
}

.right-box {
  flex: 2;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .names-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .email-row {
    display: flex;
    margin-bottom: 1rem;

    .single-field {
      flex: 1;
    }

    input {
      width: 100%;
      max-width: 600px;
    }
  }

  .message-row {
    display: flex;
    margin-bottom: 1rem;

    .single-field {
      flex: 1;
    }

    textarea {
      width: 100%;
      max-width: 600px;
    }
  }

  .input-group {
    width: 100%;
    max-width: 600px;
  }
}
