<div class="content-wrapper">
  <section class="card left-card">
    <header>
      <img alt="Pot Logo" class="login-card-logo" src="images/pot_test_logo.png" />
    </header>
    <h2>Get in touch with me!</h2>
    <h3>Feel free to use the form or drop me an email.</h3>
    <div class="icon-row">
      <i class="pi pi-envelope icon" aria-hidden="true"></i>
      <span aria-label="Email">exampleMail<span>&#64;</span>something.com</span>
    </div>
  </section>

  <section class="card right-card">
    <header>
      <h2>Message Form</h2>
    </header>
    <form #messageForm="ngForm" name="messageForm" (ngSubmit)="sendMessage()" aria-label="Contact Form">
      <div class="input-group">
        <div class="names-row">
          <label for="firstName" class="form-label">
            First name
            <input
              class="form-control"
              id="firstName"
              name="firstName"
              pInputText
              [(ngModel)]="firstName"
              required
              placeholder="Enter your first name" />
          </label>
          <label for="lastName" class="form-label">
            Last name
            <input class="form-control" id="lastName" name="lastName" pInputText [(ngModel)]="lastName" required placeholder="Enter your last name" />
          </label>
        </div>

        <div class="email-row">
          <label for="email" class="form-label">
            Email
            <input class="form-control" id="email" name="email" pInputText [(ngModel)]="email" required placeholder="Enter your email" />
          </label>
        </div>

        <div class="message-row">
          <label for="message" class="form-label">
            Message
            <textarea
              class="form-control"
              id="message"
              name="message"
              pInputText
              [(ngModel)]="message"
              required
              placeholder="Write your message"></textarea>
          </label>
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message" role="alert">
        {{ errorMessage }}
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-secondary" (click)="cancel(messageForm)">Cancel</button>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </form>
  </section>
</div>
